# GIT exclusions

# all platforms
.vscode
.idea
.metadata

# macOS specific
.DS_Store
._*
*.xcodeproj

# Windows specific
*.lnk
*.gch

# objects and executables and cores
*.o
a.out
*.OBJ
*.EXE
core

# 3IF1020 specific
cours/introduction/demo_1/HelloWorld
cours/introduction/demo_1/HelloSayer
cours/introduction/demo_2/CallHello
cours/introduction/demo_4/InputOutput
cours/imperatif/BasicTypes
cours/imperatif/Pointer_1
cours/imperatif/Pointer_2
cours/imperatif/Allocation
cours/imperatif/Array_1
cours/imperatif/Array_2
cours/imperatif/String
cours/imperatif/Struct
cours/imperatif/Reference
cours/fonctionnel/Recursion
cours/fonctionnel/Arguments
cours/fonctionnel/Lambda
cours/fonctionnel/Coroutine
cours/fonctionnel/Fibonacci
cours/objet/Pile_v1
cours/objet/Pile_v2
cours/objet/Pile_v3
cours/objet/Pile_v4
cours/objet/Pile_v5
cours/objet/Forme_v1
cours/objet/Forme_v2
cours/generique/Pile_v6
cours/generique/Pile_v7
cours/generique/Pile_v8
cours/generique/Factorial
cours/generique/Factorial.s
cours/generique/Algo
cours/complement/Move
cours/complement/SmartPointer
cours/complement/New
cours/complement/Ranges
cours/complement/Fibonacci
cours/complement/Sac
td/td1
td/td2
tp/clp_tp1/tris
tp/clp_tp1/listes
tp/clp_tp2/TestNumber
tp/clp_tp3/TestExpression
tp/clp_tp3/TestSmartExpression
tp/ps_tp1/server_1
tp/ps_tp1/server_2
tp/ps_tp1/server_3
tp/ps_tp1/server_4
tp/ps_tp1/client_5
tp/ps_tp1/server_5
tp/ps_tp1/client_6
tp/ps_tp1/server_6
tp/ps_tp2/thread/Threads
tp/ps_tp2/process/Consumer
tp/ps_tp2/process/Producer

# Commonly found in student projects
main
test
tests
googletest
gtest
boost*

